<div id="faq" class="faq-body">
    <div class="faq-header">
        <h3 class="faq-title">FAQ's</h3>
        <div class="seperator"></div>
    </div>
    <div class="faq-list">
        <div>
            <details open>
                <summary title="Is there a free trial?">Is there a free trial?</summary>
                <p class="faq-content">Yes we have a free trial. You get to use TrackSales for free until you hit €50k
                    in
                    revenue. Once you past that, our advanced plan's got you covered at €100/month per store. While
                    you're trying out TrackBee, you can see for yourself how it delivers the value you need. For details
                    about the trial period, check out our pricing page.</p>
            </details>
        </div>
        <div>
            <details>
                <summary title="How does TrackSales work?">How does TrackSales work?</summary>
                <p class="faq-content">We track your customers' activity through server side tracking, client side,
                    first-party data and data enrichment techniques. We collect the data but also send it back to
                    advertising platforms like Facebook, optimizing their AI algorithms. This more accurate data allows
                    Facebook to better identify your target audience, leading to more targeted ads and improved
                    results..</p>
            </details>
        </div>
        <div>
            <details>
                <summary title="How much does it cost?">How much does it cost?</summary>
                <p class="faq-content">Our payment structure is based on tracked revenue. This means you're only paying
                    for the actual revenue we track. You get to use TrackBee for free until you hit €50k in revenue.
                    Once you past that, our advanced plan's got you covered at €100/month up to €50k monthly revenue.
                    And for anything above that, it's only €0,90 for every additional €1000 you make each month. It's
                    our way of making sure our prices match your growth</p>
            </details>
        </div>
        <div>
            <details>
                <summary title="How do I get started?">How do I get started?</summary>
                <p class="faq-content">Our platform is designed for quick setup. No development skills needed, just
                    follow a few simple steps on our website to get going! Once you're set up, data starts flowing
                    automatically.</p>
            </details>
        </div>
        <div>
            <details>
                <summary title="Do you send the data in real-time?">Do you send the data in real-time?</summary>
                <p class="faq-content">Yes! The data is sent in real time and is immediately visible in the Real Time Ad
                    Dashboard in the platform.</p>
            </details>
        </div>
        <div>
            <details>
                <summary title="How accurate is the data?">How accurate is the data?</summary>
                <p class="faq-content">By using our data enrichment techniques, we can ensure that the data is 100%
                    accurate.</p>
            </details>
        </div>
    </div>
</div>
