<div id="faq" class="faq-body">
    <div class="faq-header">
        <h3 class="faq-title">FAQ's</h3>
        <div class="seperator"></div>
    </div>
    <div class="faq-list">
        <div>
            <details open>
                <summary title="How does the 15-day free trial work?">How does the 15-day free trial work?</summary>
                <p class="faq-content">The free trial lasts for 15 days and begins immediately upon the creation of your TrackSales account.
                  <br>
                  <br>
                  During the trial, you can process unlimited orders and at the end of the trial, the monthly subscription applies based on the plan you select.
                </p>
            </details>
        </div>
        <div>
            <details>
                <summary title="How does TrackSales work?">How does TrackSales work?</summary>
                <p class="faq-content">Each plan (Starter, Essentials, Growth and Business) includes:
                <br>
                <br>
                – A flat monthly fee with a monthly order limit
                <br>
                – Applicable extra order fees for accounts that go over their order limit
                <br>
                <br>
                For example, if you’re on TrackSales Essentials plan, you can process up to 1,000 orders per month for a flat fee of $150/month. If you send 1,001 orders during a single billing period, you will be charged your flat monthly fee plus $0.15 for the extra order which would total $150.15 for the billing period.</p>
            </details>
        </div>
        <div>
            <details>
                <summary title="Do I need (and pay for) a Google Cloud Server Container?">Do I need (and pay for) a Google Cloud Server Container?</summary>
                <p class="faq-content">Nope! All of our server-side tracking is now fully managed, hosted, maintained, and upgraded for you. No additional server-side container for GTM or Google Cloud storage is needed.</p>
            </details>
        </div>
        <div>
            <details>
                <summary title="Do you include the Facebook Conversion API?">Do you include the Facebook Conversion API?</summary>
                <p class="faq-content">Yes. With TrackSales Server-Side you can configure all site-wide events for Facebook Conversion API, including for Recharge, Zipify, Carthook, and other third party checkouts. Watch a how-to video </p>
            </details>
        </div>
        <div>
            <details>
                <summary title="Do you send the data in real-time?">Do you send the data in real-time?</summary>
                <p class="faq-content">Yes! The data is sent in real time and is immediately visible in the Real Time Ad
                    Dashboard in the platform.</p>
            </details>
        </div>
        <div>
            <details>
                <summary title="Do I have to sign a long term contract?">Do I have to sign a long term contract?</summary>
                <p class="faq-content">No long term contracts are required and you can cancel at any time.</p>
            </details>
        </div>
        <div>
          <details>
              <summary title="What is the 99%+ conversion tracking guarantee?">What is the 99%+ conversion tracking guarantee?</summary>
              <p class="faq-content">We guarantee 99%+ of conversions from your Shopify store will be delivered to the destinations that you configure (e.g. Facebook CAPI). If for any reason Shopify webhooks have an outage and don’t replay orders (which is rare) then we will not be able to capture and re-send these to your destinations.</p>
          </details>
      </div>
    </div>
</div>
