<footer class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <img src="assets/images/logos/4.png" alt="logo" class="img-responsive">
                <p>TrackSales automates data collection<br>
                    and server-side tracking for <br>
                    D2C Shopify brands</p>


            </div>
            <div class="col-md-2 col-xs-6 footer-col">
                <h5>Product</h5>
                <ul id="menu-features" class="nolist">
                    <li id="menu-item-11986"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11986"><a
                            href="#">Session Enrichment</a></li>
                    <li id="menu-item-11689"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11689"><a
                            href="#">Boost Meta by 20%</a></li>
                    <li id="menu-item-11785"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11785"><a href="#">GA4
                            for Shopify</a></li>
                    <li id="menu-item-10618"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10618"><a
                            href="#">Server-Side Tracking</a></li>
                    <li id="menu-item-10082"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10082"><a
                            href="#">Data Layer for GTM</a></li>
                    <li id="menu-item-6937"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6937"><a
                            href="#">Conversion Monitoring</a></li>
                    <li id="menu-item-11687"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11687"><a
                            href="#">View All Integrations</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6 footer-col">
                <h5>Company</h5>
                <ul id="menu-educate" class="nolist">
                    <li id="menu-item-8580"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8580"><a
                            routerLink="/about-us">About us</a></li>
                    <li id="menu-item-11753"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11753"><a
                            href="#">Events</a></li>
                    <li id="menu-item-9010"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9010"><a
                            href="#">Partner Program</a></li>
                    <li id="menu-item-5938"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5938"><a href="#">Case
                            Studies</a></li>
                    <li id="menu-item-11602"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11602"><a
                            href="#">Watch/Book Demo</a></li>
                    <li id="menu-item-11603"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11603"><a
                            routerLink="/pricing">Pricing</a></li>
                    <li id="menu-item-8303"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8303"><a
                            href="#">Careers</a></li>
                </ul>
            </div>

        </div><!-- .row -->
    </div><!-- .container -->
    <div class="copyright clearBoth">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12">
                    <p>© 2023 All Right Reserved.</p>
                </div>
                <div class="col-lg-9 col-md-7 col-sm-6 col-xs-12 text-right">
                    <ul id="menu-footer-5" class="nolist">
                        <li id="menu-item-8374"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8374"
                            data-acsb-custom-trigger="true"><a href="#">Accessibility</a></li>
                        <li id="menu-item-7869"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7869"><a
                                href="#">GDPR</a></li>
                        <li id="menu-item-11159"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11159"><a
                                href="#">Legal</a></li>
                        <li id="menu-item-4887"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4887"><a
                                href="#">Privacy</a></li>
                        <li id="menu-item-4886"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4886"><a
                                href="#">Terms</a></li>
                    </ul> <a id="acsb-custom-trigger"
                        style="cursor: pointer;display: block;height: 0;width: 0; overflow: hidden;"
                        data-acsb-custom-trigger="true" aria-describedby="a11y-external-message">Accessibility</a>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
</footer>