.terms-container {
  font-family: monospace;
  line-height: 1.6;
  padding: 10rem;
  // background-color: #f8f9fa;
}

@media (max-width: 767px) {
  .terms-container {
    padding: 2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
strong,
span {
  font-family: monospace;
}
p,
li {
  margin-bottom: 10px;
}
ul {
  margin: 0 0 10px 20px;
}
