<div class="terms-container">
    <h1>Termes de Service</h1>
    <p><strong>Date de dernière révision : Mai 2024</strong></p>

    <p>Ces Termes de Service ("Termes") contiennent les termes et conditions relatifs à l'utilisation de la solution
        logicielle de marketing e-commerce fournie par TrackSales et incluent ces Termes, l'Accord associé, la Politique
        de Confidentialité, l'Accord de Traitement des Données et d'autres termes et conditions affichés au Contractant
        au
        moment où celui-ci utilise pour la première fois certaines fonctionnalités sur le Site Web. Ces termes et
        conditions
        peuvent être modifiés par TrackSales de temps à autre.</p>

    <p>En s'inscrivant, en se connectant, en accédant ou en utilisant le logiciel (y compris tout contenu ou information
        fourni dans le cadre de l'utilisation du Site Web ou du logiciel), le Contractant conclut un Accord
        juridiquement
        contraignant. Cet Accord est conclu entre TrackSales B.V., enregistré au registre du commerce de la Chambre de
        Commerce sous le numéro 12345678, ayant son siège social à Amsterdam et son lieu d'affaires à (1011 AA)
        Amsterdam à
        Example Street no. 123, et le Contractant.</p>

    <p>Si le Contractant n'accepte pas ces Termes, l'Accord associé, la Politique de Confidentialité, l'Accord de
        Traitement
        des Données et d'autres termes, il ne doit pas s'inscrire, se connecter, accéder et/ou utiliser le logiciel de
        quelque manière que ce soit. En s'inscrivant, se connectant, accédant et/ou utilisant le logiciel, le
        Contractant
        accepte expressément ces Termes, l'Accord associé, la Politique de Confidentialité et l'Accord de Traitement des
        Données.</p>

    <p>Le Contractant confirme également qu'il a plus de dix-huit (18) ans et est pleinement capable et compétent pour
        conclure ces Termes, l'Accord, la Politique de Confidentialité, l'Accord de Traitement des Données et d'autres
        termes et conditions. En conséquence, le Site Web et le logiciel sont destinés à être utilisés par des adultes
        (de
        dix-huit (18) ans ou plus) et uniquement à des fins professionnelles (B2B). Si le Contractant a moins de
        dix-huit
        (18) ans, il est interdit de s'inscrire, se connecter, accéder et/ou utiliser le logiciel.</p>

    <h2>Article 1. Définitions</h2>
    <p>1.1. Dans ces Termes, les termes ont la même signification que dans l'Accord, sauf indication contraire expresse.
    </p>

    <h2>Article 2. Objet des Termes</h2>
    <p>2.1. Ces Termes régissent l'utilisation du Site Web et du logiciel. Ces Termes sont contraignants et doivent être
        respectés par toute personne utilisant le Site Web, qu'elle soit enregistrée (ci-après dénommée "Utilisateur")
        ou
        qu'elle utilise le Site Web en tant que visiteur sans enregistrement (ci-après dénommé "Visiteur").</p>
    <p>2.2. Les Visiteurs pourront consulter et utiliser uniquement une partie des informations du Site Web et ne
        pourront
        pas utiliser le logiciel. Les Visiteurs doivent se conformer à ces Termes, à la Politique de Confidentialité et
        à
        toutes les lois et réglementations applicables.</p>
    <p>2.3. Ces Termes peuvent être modifiés ou révisés en tout ou en partie à tout moment sans préavis. Ces
        modifications
        seront publiées sur le Site Web, et la poursuite de l'utilisation du Site Web après les modifications
        constituera
        une acceptation des nouveaux Termes par l'Utilisateur ou le Visiteur. Si un Utilisateur ou un Visiteur n'accepte
        pas
        ces Termes ou les futurs Termes, il ne doit pas utiliser ou accéder (ou continuer à utiliser ou accéder) au Site
        Web
        et/ou au logiciel. Toute modification des Termes publiée sur le Site Web s'appliquera immédiatement aux
        Utilisateurs
        et aux Visiteurs.</p>

    <h2>Article 3. Utilisation du Site Web et du logiciel</h2>
    <p>3.1. Un Utilisateur doit fournir des informations exactes, complètes et actuelles à TrackSales. Chaque fois qu'un
        Utilisateur accède et utilise le logiciel via le Site Web, il doit se connecter avec l'adresse email et le mot
        de
        passe créés lors de l'inscription.</p>
    <p>3.2. L'accès au logiciel sera basé sur les fonctions, outils et capacités du logiciel choisis par l'Utilisateur.
        L'Utilisateur peut mettre à niveau ou augmenter les fonctions, outils et capacités du logiciel à tout moment,
        bien
        que TrackSales soit en droit de retirer l'accès au logiciel à tout moment si l'Utilisateur a atteint certaines
        capacités. Les fonctions, outils et capacités du logiciel sont décrits sur le Site Web, plus précisément à
        l'adresse
        https://www.tracksales.io. L'Utilisateur devra payer les frais à TrackSales en fonction des fonctions, outils et
        capacités choisis du logiciel.</p>
    <p>3.3. L'Utilisateur sera autorisé à :
    <ul>
        <li>télécharger des données dans le logiciel, plus précisément pour créer un lien de données entre la boutique
            en
            ligne de l'Utilisateur et le logiciel ;</li>
        <li>utiliser le logiciel pour récupérer, organiser, analyser et stocker les données ;</li>
        <li>télécharger des données du logiciel comme indiqué dans le logiciel.</li>
    </ul>
    <p>3.4. TrackSales aura le droit d'introduire de nouveaux services sur le Site Web et de modifier ces Termes en
        conséquence. Sous réserve des termes de la Politique de Confidentialité, TrackSales aura le droit d'envoyer aux
        Utilisateurs des messages électroniques - via l'adresse email fournie par les Utilisateurs lors de l'inscription
        -
        concernant le logiciel et tout nouveau service proposé, ou d'autres sujets pertinents que TrackSales estime
        susceptibles d'améliorer l'expérience des Utilisateurs. Ces messages peuvent inclure des rappels, des
        invitations,
        des suggestions, des descriptions de services existants, nouveaux ou futurs, d'autres communications
        importantes,
        ainsi que du contenu marketing et promotionnel.</p>
    <p>3.5. TrackSales fournira aux Visiteurs et/ou aux Utilisateurs un support limité à des conseils et des
        consultations sur l'utilisation du Site Web et/ou du logiciel. Ce support sera fourni en anglais et/ou dans
        d'autres
        langues dans lesquelles l'équipe de support peut communiquer via le formulaire de support sur le Site Web ou via
        d'autres canaux de support.</p>

    <h2>Article 4. Responsabilités générales</h2>
    <p>4.1. Tous les Visiteurs et Utilisateurs reconnaissent et acceptent que TrackSales n'a aucune obligation de
        surveiller (bien qu'il en ait le droit) et ne peut donc pas être tenu responsable des actes ou omissions des
        Visiteurs et Utilisateurs en relation avec le Site Web et/ou le logiciel et/ou leur conformité aux lois et
        réglementations applicables.</p>
    <p>4.2. Tous les Visiteurs et Utilisateurs sont responsables de se conformer à toutes les lois et réglementations
        applicables concernant l'utilisation du Site Web et/ou du logiciel. Les Visiteurs et Utilisateurs ne peuvent pas
        enfreindre les droits de tiers et/ou utiliser l'identité d'autres entreprises/personnes.</p>
    <p>4.3. Tous les Visiteurs et Utilisateurs reconnaissent et acceptent que TrackSales ne sera pas responsable des
        dommages de toute nature, au sens large, matériels ou non, subis par des personnes physiques ou morales et
        pouvant
        résulter directement ou indirectement des actions d'un Visiteur et/ou d'un Utilisateur pendant l'utilisation du
        Site
        Web et/ou du logiciel. Tous les Visiteurs et Utilisateurs sont responsables de leurs actions lors de
        l'utilisation
        du Site Web et/ou du logiciel.</p>

    <h2>Article 5. Responsabilités spéciales</h2>
    <p>5.1. Les Visiteurs et Utilisateurs s'engagent et déclarent ce qui suit :
    <ul>
        <li>établir un lien de données entre la boutique en ligne de l'Utilisateur et le logiciel (si applicable) et
            garantir que toutes les données et/ou informations en résultant respectent les dispositions des Termes ;
        </li>
        <li>avoir le droit de représenter la personne morale pour le compte de laquelle ils utilisent le logiciel ;</li>
        <li>ne pas utiliser le Site Web et/ou le logiciel pour effectuer des actes ou des transactions illégales ou des
            fraudes ;</li>
        <li>ne pas copier ou autrement utiliser illégalement toute information sur le Site Web ;</li>
        <li>veiller à ce que toutes les informations fournies à TrackSales soient correctes.</li>
    </ul>
    <p>5.2. Les Visiteurs et Utilisateurs s'engagent à ne pas enfreindre les droits de propriété ou personnels
        non-propriétaires de TrackSales et/ou des tiers (y compris les droits de propriété intellectuelle) ; ne pas
        violer les lois ou réglementations applicables ; ne pas télécharger de données en violation des lois et
        réglementations ou contenant des virus ou d'autres programmes ou fichiers informatiques ; ne pas interférer avec
        le
        (fonctionnement normal du) Site Web et/ou du logiciel ; ne pas causer de dommages à TrackSales et/ou à ses
        biens.

    <p>5.3. Les Visiteurs et Utilisateurs s'engagent à ne pas utiliser le Site Web et/ou le logiciel à des fins
        illégales
        et/ou d'une manière interdite par ces Termes, notamment mais sans s'y limiter :
    <ul>
        <li>utiliser des logiciels ou outils de piratage ou de manipulation, au sens large du terme ;</li>
        <li>utiliser tout moyen (automatisé) non fourni par TrackSales pour accéder au Site Web et/ou au logiciel, au
            sens large du terme ;</li>
        <li>utiliser le Site Web et/ou le logiciel à des fins illégales, obscènes, offensantes ou immorales, au sens
            large
            du terme.</li>
    </ul>
    <p>5.4. TrackSales ne sera pas responsable de l'utilisation du Site Web et/ou du logiciel par les Visiteurs et/ou
        les
        Utilisateurs. Par extension, les Visiteurs et Utilisateurs seront seuls responsables de leur utilisation du Site
        Web
        et/ou du logiciel, au sens large.</p>
    <p>5.5. Les Utilisateurs sont responsables de maintenir la confidentialité de leurs mots de passe et comptes et sont
        entièrement responsables de toutes les activités qui se déroulent sous leur mot de passe ou compte. Les
        Utilisateurs
        s'engagent donc à notifier immédiatement TrackSales de toute utilisation non autorisée de leurs mots de passe ou
        comptes ou de toute autre violation de sécurité.</p>
    <p>5.6. En cas de violation d'une ou plusieurs dispositions du présent article par l'Utilisateur, l'Utilisateur
        devra à
        TrackSales une pénalité immédiatement exigible de 50 000,00 € (cinquante mille euros) plus une pénalité de 5
        000,00 € (cinq mille euros) pour chaque jour de continuation de la violation. TrackSales sera en droit de
        réclamer une indemnisation supplémentaire si le préjudice dépasse le montant de la pénalité.</p>
    <h2>Article 6. Interdictions</h2>
    <p>6.1. L'Utilisateur déclare et garantit que le contenu du lien de données entre la boutique en ligne de
        l'Utilisateur
        et le logiciel ne porte en aucun cas atteinte aux droits de tiers, au sens large du terme. L'Utilisateur est
        donc
        expressément interdit de télécharger des données violant la vie privée de tiers. De plus, l'Utilisateur est
        expressément interdit de télécharger du matériel indécent ou d'utiliser le Site Web et/ou le logiciel d'une
        manière
        violant les lois ou réglementations applicables ou endommageant la réputation de TrackSales de quelque manière
        que ce soit.</p>
    <p>6.2. L'Utilisateur est interdit d'utiliser le logiciel autrement que pour un usage professionnel.</p>
    <p>6.3. Tant le Visiteur que l'Utilisateur sont interdits d'alourdir de manière déraisonnable le serveur hébergeant
        le
        Site Web et/ou le logiciel, de perturber le fonctionnement du Site Web et/ou du logiciel et de (tenter de)
        accéder
        de manière non autorisée à une partie du Site Web et/ou du logiciel.</p>
    <p>6.4. De plus, tant le Visiteur que l'Utilisateur sont interdits d'utiliser des robots, des fermes de clics, des
        faux
        clics ou d'autres techniques automatisées ou manuelles pour imiter, simuler ou générer autrement une activité
        utilisateur sur le Site Web et/ou le logiciel dans le but de créer une activité utilisateur exagérée ou
        trompeuse.
    </p>
    <p>6.5. L'Utilisateur est interdit de modifier (le code d'accès au) le logiciel, de le distribuer, de le soumettre à
        de
        l'ingénierie inverse ou d'essayer de le déchiffrer. L'Utilisateur est également interdit de vendre, d'offrir à
        la
        vente et/ou de revendre le logiciel à un tiers non autorisé ou d'utiliser le logiciel directement ou
        indirectement
        pour concurrencer TrackSales, au sens large.</p>
    <p>6.6. TrackSales se réserve en outre le droit de suspendre ou de résilier l'utilisation du Site Web et du logiciel
        sans préavis en cas de violation de l'une des dispositions des Termes.</p>
    <p>6.7. Le Visiteur et l'Utilisateur déclarent que TrackSales n'est pas responsable ou responsable de toute donnée
        (y
        compris du contenu et des liens) téléchargée par le Visiteur et/ou l'Utilisateur sur le Site Web et/ou le
        logiciel
        et que le Visiteur et l'Utilisateur utilisent le Site Web et le logiciel à leurs propres risques.</p>
    <p>6.8. En cas de violation d'une ou de plusieurs dispositions du présent article par l'Utilisateur, l'Utilisateur
        devra
        à TrackSales une pénalité immédiatement exigible de 50 000,00 € (cinquante mille euros) plus une pénalité de 5
        000,00 € (cinq mille euros) pour chaque jour de continuation de la violation. TrackSales sera en droit de
        réclamer une indemnisation supplémentaire si le préjudice dépasse le montant de la pénalité.</p>
    <h2>Article 7. Accord, Politique de Confidentialité et Accord de Traitement des Données</h2>
    <p>7.1. Ces Termes sont indissociablement liés à l'Accord, à la Politique de Confidentialité et à l'Accord de
        Traitement
        des Données et forment donc un tout inséparable.</p>
    <p>7.2. L'Utilisateur confirme que l'Accord, la Politique de Confidentialité et l'Accord de Traitement des Données
        lui
        ont été mis à disposition, qu'il en a pris connaissance et a accepté leur contenu et leur validité sur ces
        Termes et
        Conditions et toutes les conditions ultérieures.

        7.3. Entre ces Termes et Conditions et l'Accord, la Politique de Confidentialité et l'Accord de Traitement des
        Données, l'ordre de priorité suivant s'appliquera en cas de conflit : (i) Accord, ensuite (ii) Termes et
        Conditions,
        ensuite (iii) Accord de Traitement des Données et ensuite (iv) Politique de Confidentialité.

    <h2>Article 8. Loi applicable et règlement des litiges</h2>
    <p>8.1. Les accords auxquels ces Termes s'appliquent et les accords ultérieurs qui en découlent seront régis
        exclusivement par le droit néerlandais.</p>
    <p>8.2. Si l'Utilisateur est établi dans l'Espace Économique Européen (ci-après "EEE"), tous les litiges découlant
        de
        l'Accord et de tous les accords qui en résultent entre les Parties auxquels ces Termes s'appliquent seront
        réglés
        exclusivement par le tribunal de Overijssel, situé à Enschede (Pays-Bas).</p>
    <p>8.3. Si l'Utilisateur n'est pas établi dans l'EEE, tous les litiges découlant de l'Accord et de tous les accords
        qui
        en découlent entre les Parties auxquels ces Termes s'appliquent seront réglés exclusivement conformément aux
        Règles
        d'Arbitrage de l'Institut d'Arbitrage des Pays-Bas (NAI). Le tribunal arbitral sera composé d'un arbitre, qui
        sera
        nommé selon la procédure de liste. Le lieu de l'arbitrage sera Amsterdam. La procédure se déroulera en anglais
        et le
        tribunal arbitral décidera conformément aux règles du droit néerlandais.</p>
    <p>Les parties conviennent que la version anglaise de ces Termes et Conditions prévaudra en cas de divergence entre
        les
        traductions et la version anglaise.</p>
    <p>En continuant à utiliser notre service, vous acceptez ces Termes de Service. Si vous avez des questions ou des
        préoccupations, veuillez nous contacter à l'adresse suivante : [adresse email de contact].</p>
</div>