<div data-vc-full-width="true" data-vc-full-width-init="true"
    class="vc_row wpb_row vc_row-fluid section-pricing section-pricing-3 vc_custom_1571079199472 vc_row-has-fill">
    <div
        class="wpb_column vc_column_container vc_col-sm-10 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1 vc_col-xs-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <h2 style="font-size: 46px;color: #333333;line-height: 54px;text-align: center"
                    class="vc_custom_heading">Review Our Plans</h2>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p style="text-align: center;">New for 2023! Get started on any plan with our free 15-day trial.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pricing--bar wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
        <div class="vc_column-inner vc_custom_1582717255795">
            <div class="wpb_wrapper"></div>
        </div>
    </div>
</div>

<div data-vc-full-width="true" data-vc-full-width-init="true"
    class="vc_row wpb_row vc_row-fluid section-tab section-tab-3">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="pricing-wrapper">
                    <div
                        class="tab-box wpb_column vc_column_container vc_col-sm-4 vc_col-lg-4 vc_col-md-4 vc_col-sm-offset-0 vc_col-xs-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_raw_code wpb_content_element wpb_raw_html tab-box">
                                    <div class="wpb_wrapper">
                                        <div class="price-b">
                                            <div class="tab-header">
                                                <div class="tab-info">
                                                    <div>
                                                        <h2>Essentials</h2>
                                                        <span class="subtitle">Free 15-day Trial</span>
                                                    </div>
                                                    <h3><span>$150</span>/month</h3>
                                                </div>
                                                <a href="https://app.getelevar.com/auth/signup"
                                                    class="btn btn-small btn-primary">Get Started</a>
                                            </div>
                                            <ul>
                                                <li>Data Layer</li>
                                                <li>Server-Side Tracking</li>
                                                <li>Tracking Guarantee</li>
                                                <li>User Identity Graph</li>
                                                <li>1,000 Orders/month</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="tab-box s____hadow tab-box-2 wpb_column vc_column_container vc_col-sm-4 vc_col-lg-4 vc_col-md-4 vc_col-xs-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1674066071262">
                                    <div class="wpb_wrapper">
                                        <div class="price-b">
                                            <div class="tab-header">
                                                <div class="tab-info">
                                                    <div>
                                                        <h2>Growth</h2>
                                                        <span class="subtitle">Free 15-day Trial</span>
                                                    </div>
                                                    <h3><span>$350</span>/month</h3>
                                                </div>
                                                <a href="https://app.getelevar.com/auth/signup"
                                                    class="btn btn-small btn-primary">Get Started</a>
                                            </div>
                                            <ul>
                                                <li>Data Layer</li>
                                                <li>Server-Side Tracking</li>
                                                <li>Tracking Guarantee</li>
                                                <li>User Identity Graph</li>
                                                <li>10,000 Orders/month</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="tab-box tab-box-3 wpb_column vc_column_container vc_col-sm-4 vc_col-lg-4 vc_col-md-4 vc_col-xs-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                    <div class="wpb_wrapper">
                                        <div class="price-b">
                                            <div class="tab-header">
                                                <div class="tab-info">
                                                    <div>
                                                        <h2>Business</h2>
                                                        <span class="subtitle">Free 15-day Trial</span>
                                                    </div>
                                                    <h3><span>$750</span>/month</h3>
                                                </div>
                                                <a href="https://app.getelevar.com/auth/signup"
                                                    class="btn btn-small btn-primary">Get Started</a>
                                            </div>
                                            <ul>
                                                <li>Data Layer</li>
                                                <li>Server-Side Tracking</li>
                                                <li>Tracking Guarantee</li>
                                                <li>User Identity Graph</li>
                                                <li>50,000 Orders/month</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-vc-full-width="true" data-vc-full-width-init="true"
    class="vc_row wpb_row vc_row-fluid section section-shopify vc_custom_1570709941171 vc_row-has-fill">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <h2 style="font-size: 38px;line-height: 48px;text-align: center" class="vc_custom_heading">Add-Ons
                    Available</h2>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-66 vc_col-md-12 vc_col-xs-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="wpb_raw_code wpb_content_element wpb_raw_html shopify-box">
                    <div class="wpb_wrapper">
                        <div class="shopify-container">
                            <div class="shopify__header">
                                <img src="https://www.getelevar.com/wp-content/uploads/2019/10/shoppin_icon.png"
                                    class="img-fluid">
                                <h3>Expert Installation</h3>
                            </div><!-- shopify_header-->
                            <div class="shopify__content">
                                <p>Purchase our one-time onboarding add-on and our analysts will migrate/update tracking
                                    across all of your marketing channels.</p>
                            </div><!-- shopify content -->
                            <div class="shopify__footer">
                                <span>$1000<small>and up</small></span>
                                <a href="https://app.getelevar.com/auth/signup" target="_blank"
                                    class="btn btn-primary">Sign Up To Access</a>
                            </div><!-- shopify footer -->
                        </div><!-- shopify container -->
                    </div>
                </div>

                <div class="wpb_raw_code wpb_content_element wpb_raw_html shopify-box">
                    <div class="wpb_wrapper">
                        <div class="shopify-container">
                            <div class="shopify__header">
                                <img src="https://www.getelevar.com/wp-content/uploads/2019/10/shoppin_icon.png"
                                    class="img-fluid">
                                <h3>Ongoing Tracking &amp; Tag Support</h3>
                            </div><!-- shopify_header-->
                            <div class="shopify__content">
                                <p>Let Elevar's expert analysts manage all of your ongoing tagging, tracking, and
                                    server-side tracking needs for you. We offer a "Lite" and "Full Service" plan.</p>
                            </div><!-- shopify content -->
                            <div class="shopify__footer">
                                <span><small>Starts at </small>$500<small>/month</small></span>
                                <a href="https://www.getelevar.com/video-demo/#book" target="_blank"
                                    class="btn btn-primary">Schedule Call</a>
                            </div><!-- shopify footer -->
                        </div><!-- shopify container -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-12 vc_col-xs-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                    <div class="wpb_wrapper">
                        <div class="shopify-container">
                            <div class="shopify__header">
                                <img src="https://www.getelevar.com/wp-content/uploads/2019/10/shoppin_icon.png"
                                    class="img-fluid">
                                <h3>GA4 Tune-up</h3>
                            </div><!-- shopify_header-->
                            <div class="shopify__content">
                                <p>As Universal Analytics nears its end of life, GA4 continues to evolve and change
                                    dramatically. Let our analysts ensure your GA4 setup follows the latest best
                                    practices and transfer any important configurations from your Universal Analytics
                                    property to your GA4 property.</p>
                            </div><!-- shopify content -->
                            <div class="shopify__footer">
                                <span>$1000<small>and up</small></span>
                                <a href="https://app.getelevar.com/auth/signup" target="_blank"
                                    class="btn btn-primary">Sign Up To Access</a>
                            </div><!-- shopify footer -->
                        </div><!-- shopify container -->
                    </div>
                </div>

                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                    <div class="wpb_wrapper">
                        <div class="shopify-container">
                            <div class="shopify__header">
                                <img src="https://www.getelevar.com/wp-content/uploads/2019/10/shoppin_icon.png"
                                    class="img-fluid">
                                <h3>Multi-Store Plans</h3>
                            </div><!-- shopify_header-->
                            <div class="shopify__content">
                                <p>Utilizing multiple stores for international expansion? We can help! Elevar will get
                                    all of your stores rolled up into a single plan. Just choose a time to talk with us
                                    here.</p>
                            </div><!-- shopify content -->
                            <div class="shopify__footer">
                                <span><small></small></span>
                                <a href="https://www.getelevar.com/video-demo#book" class="btn btn-primary">Schedule
                                    Call</a>
                            </div><!-- shopify footer -->
                        </div><!-- shopify container -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>