.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.showcase {
  padding: 100px 0;
  text-align: center;
}
.showcase h1 {
  font-size: 3em;
  margin: 0 0 10px;
}
.showcase p {
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .content-section {
    padding: 50px 20%;
  }
}
@media (max-width: 767px) {
  .content-section {
    padding: 50px 0;
  }
}

.content-section {
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content-section h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}
.content-section p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}
.milestones,
.cta {
  flex-wrap: wrap;
  justify-content: space-between;
}

.milestones div,
.cta div {
  flex: 1;
  min-width: 250px;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.milestones h3,
.cta h2 {
  margin-bottom: 10px;
}

.cta a {
  padding: 10px 26px;
}
