@media (min-width: 768px) {
  .subscription-body {
    width: 70em;
    margin: 4em auto;
    box-shadow: 0px 0px 16px #5b5b5b;
    border-radius: 0.2em;
    padding: 5em;
  }
  .w-10 {
    width: 10% !important;
  }
}

@media (max-width: 767px) {
  .subscription-body {
    // width: 70em;
    margin: 4em 1em;
    box-shadow: 0px 0px 16px #5b5b5b;
    border-radius: 0.2em;
    padding: 2em;
  }
  .w-10 {
    width: 40% !important;
  }
}
