<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a routerLink="" class="navbar-brand">
            <img src="assets/images/logos/4.png" alt="logo" width="150">
        </a>
        <button (click)="toggleNavbarCollapsing()" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [class.collapse]="navbarCollapsed" class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="nav-link" routerLink="/" routerLinkActive="active"
                        [ngClass]="{'custom-active-class': isActive('/')}">
                        Home
                        <span class="underline"></span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/pricing" routerLinkActive="active"
                        [ngClass]="{'custom-active-class': isActive('/pricing')}">
                        Pricing
                        <span class="underline"></span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/about-us" routerLinkActive="active"
                        [ngClass]="{'custom-active-class': isActive('/about-us')}">
                        About us
                        <span class="underline"></span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/auth/sign-in">Log In</a>
                </li>
                <li class="nav-item signup">
                    <a class="nav-link" routerLink="/auth/sign-up">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>