<div class="gdbr-container">
  <h1>GDPR</h1>
  <h3>About</h3>
  <p>We are committed to our users’ rights to privacy. We will share all aspects
    of how the TrackSales product and website work in regards to privacy, terms,
    and personal data, and we are in full support of efforts to ensure your
    protection online.</p>
  <h3>GDPR Compliance</h3>
  <p>The EU’s General Data Protection Regulations (GDPR) are in effect and we
    aspire to embrace privacy by design and, whenever possible, to not collect
    and store personally-identifiable information.&nbsp;Our Privacy Policy
    contains mentions of the few instances where personally-identifiable
    information is required. Typically this will be an email to login or
    email/username to manage 3rd party data sources.</p>
  <p>At any time, you may request your information to be exported and sent to
    you for review, and we promptly honor any requests by you to have your
    information deleted and forgotten.</p>
  <p>GDPR Items:</p>
  <p><strong>Privacy Policy</strong>: the revised privacy policy from can be
    found <a routerLink="/privacy">here</a>. Please contact us at
    contact&#64;sync.tn with any questions.</p>
  <p><strong>Terms of Use</strong>: Our full terms of use can be found <a
      routerLink="/terms">here</a>.</p>
  <p><strong>Deletion</strong>:&nbsp;A user has the right to request that we
    delete all of their personal data. Users who wish to inquire about the right
    to be forgotten will be able to reach out to us at any time.&nbsp;Please
    contact us at contact&#64;sync.tn.</p>
  <p><strong>Access / Portability:</strong>&nbsp;A user can request access to a
    copy of the personal data that we have collected. Users who wish to request
    portability can reach out to us at any time. Please contact us at
    contact&#64;sync.tn.</p>
  <p><strong>Modification</strong>:&nbsp;In TrackSales, if a user asks to change
    their information, we can do so within our admin portal. If a user has a
    modification to make, they can reach out to us at contact&#64;sync.tn.</p>
  <p><strong>Sub Processors</strong>: Here is a list of all third party trackers
    on the TrackSales site:</p>
  <ul>
    <li>Google</li>
    <li>Hotjar</li>
    <li>Sendgrid</li>
    <li>Stripe</li>
    <li>Optinmonster</li>
    <li>RightMessage</li>
    <li>Hubspot</li>
    <li>LinkedIn Marketing</li>
    <li>Twitter</li>
    <li>Facebook</li>
    <li>Segment.io</li>
    <li>Quora</li>
    <li>Profitwell</li>
    <li>Appcues</li>
    <li>LinkMink</li>
    <li>Google Analytics</li>
    <li>Google Ads</li>
    <li>Vimeo</li>
    <li>Mixpanel</li>
    <li>Pendo</li>
  </ul>
  <p id="cookie-consent"><strong>Cookie Statement</strong></p>
  <p>Like many websites, we also use “cookie” technology to collect additional
    website usage data and to improve the Site and our Service. A cookie is a
    small data file that we transfer to your computer’s hard disk. A session
    cookie enables certain features of the Site and our service and is deleted
    from your computer when you disconnect from or leave the Site. A persistent
    cookie remains after you close your browser and may be used by your browser
    on subsequent visits to the Site. Persistent cookies can be removed by
    following your web browser help file directions. Most Internet browsers
    automatically accept cookies. TrackSales may use both session cookies and
    persistent cookies to better understand how you interact with the Site and
    our Service, to monitor aggregate usage by our users and web traffic routing
    on the Site, and to improve the Site and our Service.</p>
  <p>We may also automatically record certain information from your device by
    using various types of technology, including “clear gifs” or “web beacons.”
    This automatically collected information may include your IP address or
    other device address or ID, web browser and/or device type, the web pages or
    sites that you visit just before or just after you use the Service, the
    pages or other content you view or otherwise interact with on the Service,
    and the dates and times that you visit, access, or use the Service. We also
    may use these technologies to collect information regarding your interaction
    with email messages, such as whether you opened, clicked on, or forwarded a
    message, to the extent permitted under applicable law.</p>
  <p>You can instruct your browser, by editing its options, to stop accepting
    cookies or to prompt you before accepting a cookie from the websites you
    visit. Please note that if you delete, or choose not to accept, cookies from
    the Service, you may not be able to utilize the features of the Service to
    their fullest potential.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
