.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }

    .login-img {
        display: none;
    }

    .login-logo {
        margin: 10%;
    }

    .pt-1 {
        padding-bottom: 3.25rem !important;
    }

    img.login-logo {
        margin: -60% 0 23% 16% !important;
    }
}

button.btn.btn-primary.btn-lg {
    background-color: #eecc6f;
    border: none;
}

button.btn.btn-primary.btn-lg:hover {
    background-color: #b0964e;
}

.link-danger {
    color: #eecc6f !important;
    text-decoration-color: #eecc6f !important;
}

img.login-logo {
    margin: -10% 0px 5% 0;
}