<div class="main_container" [ngClass]="{'dark-mode': isDarkMode}">
    <div class="vc_row padding">

        <div class="wpb_wrapper2">
            <h1 class="first-title">
                <span>{{ title }}</span><span class="cursor">|</span>
            </h1>

            <p class="wpb_text_column">{{ 'wpb_wrapper2_description' | translate }}
            </p>
            <button data-aos="fade-left" class="kirzin"
                onclick="window.location.href='https://app.tracksales.io/sign-in'">{{
                'wpb_wrapper2_sign_up' | translate }}</button>
            <p class="wpb_text_column">{{ 'wpb_wrapper2_free_plans' | translate }}
            </p>
        </div>
        <div data-aos="zoom-in" data-aos-anchor="#example-anchor" id="lottie-container"></div>
    </div>

    <div class="page-padding">
        <div class="meta-title">{{
            'meta-title1' | translate }}</div>
        <h4 class="meta-sub-title">{{
            'meta-sub-title1' | translate }}</h4>
        <div class="steps-wrapper">
            <div class="steps-block" data-aos="fade-up" data-aos-offset="300" data-aos-duration="1000">
                <div class="steps-number">
                    <div>1</div>
                </div>
                <div class="steps-text">
                    <div class="text-l text-bold" data-aos="fade-left">{{ 'start_etape_1_title' | translate }}
                    </div>
                    <p class="text-s opacity-0-8" data-aos="fade-left">{{ 'start_etape_1_description' |
                        translate }}</p><a class="steps-button">
                        <div class="steps-button-wrapper">
                            <a href="https://app.tracksales.io/sign-in" class="button-link">
                                <div class="button-text" data-aos="fade-left">{{ 'create_account' | translate }}
                                </div>
                                <div class="button-icon w-embed" data-aos="fade-left">
                                    <svg class="button-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 12L7 12M17 12L13 16M17 12L13 8" stroke="#FFFFFF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round">
                                        </path>
                                    </svg>
                                </div>
                            </a>
                        </div>

                    </a>
                </div>
            </div>
            <div class="steps-block" data-aos="fade-down" data-aos-offset="300" data-aos-duration="500">
                <div class="steps-number">
                    <div>2</div>
                </div>
                <div class="steps-text">
                    <div class="text-l text-bold">{{ 'start_etape_2_title' | translate }}
                    </div>
                    <p class="text-s opacity-0-8">{{ 'start_etape_2_description' | translate }}</p>
                </div>
            </div>
            <div class="steps-block" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
                <div class="steps-number">
                    <div>3</div>
                </div>
                <div class="steps-text">
                    <div class="text-l text-bold">{{ 'start_etape_3_title' | translate }}</div>
                    <p class="text-s opacity-0-8">{{ 'start_etape_3_description' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="padding none">
        <h3 class="meta-title">{{ 'meta-title2' |
            translate }}</h3>
        <h2 class="meta-sub-title">{{
            'meta-sub-title2' | translate }}</h2>
        <div id="clients" class="clients section-bg">
            <div class="image-container" style="padding: 0 200px 0 200px;">
                <div class="image-list">
                    <img *ngFor="let slide of images" [src]="slide.src" [alt]="slide.alt" width="100px" height="60px">
                    <img *ngFor="let slide of images" [src]="slide.src" [alt]="slide.alt" width="100px" height="60px">
                </div>
            </div>
        </div>
    </div>

    <div id="client_needs_container" data-vc-full-width="true" data-vc-full-width-init="true">
        <div class="relative">
            <div data-aos="zoom-out" data-aos-offset="300" data-aos-duration="500">
                <h2 style="text-align: left" class="vc_custom_heading">{{'sounds_familiar_title' | translate }}</h2>
            </div>
        </div>
        <div id="client_needs_1">
            <ul class="checklist tilted">
                <li><img src="assets/images/check-square.png" width="28px" height="28px">I need to improve
                    tracking quality due to iOS changes</li>
                <li><img src="assets/images/check-square.png" width="28px" height="28px">I’m still using native
                    Facebook or GA integrations with Shopify</li>
                <li><img src="assets/images/check-square.png" width="28px" height="28px">My server-side
                    tracking is lacking</li>
                <li><img src="assets/images/check-square.png" width="28px" height="28px">My existing tracking in
                    GTM, my theme, and apps is a mess</li>
                <li><img src="assets/images/check-square.png" width="28px" height="28px">I need a better Facebook
                    CAPI setup for Shopify</li>
                <li><img src="assets/images/check-square.png" width="28px" height="28px">I need my tracking to
                    integrate with my Consent provider</li>
                <li><img src="assets/images/check-square.png" width="28px" height="28px">I don't trust my Google
                    Analytics data (or need GA4)</li>
                <li><img src="assets/images/check-square.png" width="28px" height="28px">I want to upgrade to
                    Shopify Checkout Extensibility</li>
                <li><img src="assets/images/check-square.png" width="28px" height="28px">My agency needs me to
                    fix my tracking for Google Ads, Facebook, GA</li>
                <li><img src="assets/images/check-square.png" width="28px" height="28px">I want a first party
                    User ID to recognize returning users without relying on cookies</li>
                <li><img src="assets/images/check-square.png" width="28px" height="28px">Facebook is
                    under-performing and think it could do better</li>
                <li><img src="assets/images/check-square.png" width="28px" height="28px">I’m missing conversions
                    in Google Ads impacting performance</li>
            </ul>
        </div>
    </div>

    <div class="allarounddata-widget padding">
        <div data-aos="zoom-out" data-aos-offset="300" data-aos-duration="2000"><span class="meta-title">{{
                'meta-title3' | translate }}</span>
            <h2 class="meta-sub-title" data-aos="zoom-out" data-aos-offset="300" data-aos-duration="2000">{{
                'meta-sub-title3' | translate }}</h2>
            <p class="subheading" data-aos="zoom-out" data-aos-offset="300" data-aos-duration="2000">{{
                'data_collected_description' | translate }}</p>
            <div class="allarounddata__row">
                <img data-aos="fade-right" data-aos-offset="300" data-aos-duration="2000"
                    src="assets/images/Product-Data.webp" alt="" width="100%" height="100%">
                <div class="allarounddata__column" data-aos="fade-left" data-aos-offset="300" data-aos-duration="2000">
                    <h3>{{ 'type1_title' | translate }}
                    </h3>
                    <p>{{ 'type1_title_description' | translate }}</p>
                    <a href="#" tabindex="0">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                stroke="#5F5CE7" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M10 8L16 12L10 16V8Z" stroke="#5F5CE7" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                        {{ 'watch' | translate }}
                    </a>


                </div>
            </div>
            <div class="allarounddata_row_2 allarounddata__row">
                <img data-aos="fade-left" data-aos-offset="300" data-aos-duration="2000"
                    src="assets/images/Customer-Data.webp" alt="" width="100%" height="100%">
                <div class="allarounddata__column" data-aos="fade-right" data-aos-offset="300" data-aos-duration="2000">
                    <h3>{{ 'type2_title' | translate }}</h3>
                    <p>{{ 'type2_title_description' | translate }}</p>
                    <a href="#" tabindex="0">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                stroke="#5F5CE7" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M10 8L16 12L10 16V8Z" stroke="#5F5CE7" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                        {{ 'watch' | translate }}
                    </a>

                </div>
            </div>
            <div class="allarounddata__row">
                <img src="assets/images/Attribution-Data.webp" alt="" data-aos="fade-right" data-aos-offset="300"
                    data-aos-duration="2000" width="100%" height="100%">
                <div class="allarounddata__column" data-aos="fade-left" data-aos-offset="300" data-aos-duration="2000">
                    <h3>{{ 'type3_title' | translate }}</h3>
                    <p>{{ 'type3_title_description' | translate }}</p>
                    <a href="#" tabindex="0">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                stroke="#5F5CE7" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M10 8L16 12L10 16V8Z" stroke="#5F5CE7" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                        {{ 'watch' | translate }}
                    </a>

                </div>
            </div>
        </div>
    </div>

    <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row hero hero-clean section padding">
        <div class="wpb_column vc_col-sm-5">
            <h2 class="integration" class="vc_custom_heading">
                {{ 'integartions_title' | translate }}</h2>
            <p>{{ 'integartions_description' | translate }}</p>
            <button class="kirzin" title="Do More with 50+ Integrations With Track Sales">{{
                'explore_integration' | translate }}</button>
        </div>
        <div class="vc_col-sm-7 wpb_single_image">
            <img width="1174" height="816" src="assets/images/Image-_-Integrations.webp" alt="Integrations"
                decoding="async" sizes="(max-width: 1174px) 100vw, 1174px">
        </div>
    </div>

    <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="page-padding">
        <div class="has-centered-buttons">
            <div class="meta-title">
                <h5 style="text-align: center;">{{ 'meta-title4' | translate }}</h5>
            </div>
            <h2 class="meta-sub-title">{{ 'power_pixel_title' | translate }}</h2>
            <p style="text-align: center;">{{ 'power_pixel_description' | translate }}</p>
            <div class="vc_btn3-container  btn btn-default vc_btn3-inline">
                <button class="kirzin">{{ 'power_pixel_button' | translate }}</button>
            </div>
        </div>
    </div>

    <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"
        class="section full-width-checklist padding">
        <h5 style="text-align: center;">{{ 'meta-title5' | translate }}</h5>
        <h2 class="meta-sub-title">
            {{ 'central_system_title' | translate }}</h2>
        <p style="text-align: center;">{{ 'central_system_description' | translate }}</p>

        <ul class="checklist">
            <li><img src="assets/images/check-square.png">Improve ad performance with better
                analytics</li>
            <li><img src="assets/images/check-square.png">Reduce the cost to acquire new
                customers</li>
            <li><img src="assets/images/check-square.png">Fully managed, and DIY server-side
                plans</li>
            <li><img src="assets/images/check-square.png">Real-Time Conversion Reporting</li>
            <li><img src="assets/images/check-square.png">Sitewide data layer for Google Tag
                Manager</li>
            <li><img src="assets/images/check-square.png">CCPA and GDPR consent integrations
            </li>
            <li><img src="assets/images/check-square.png">Automated tracking alerts</li>
            <li><img src="assets/images/check-square.png">Facebook Conversion API</li>
            <li><img src="assets/images/check-square.png">Expert installation and setup options
            </li>
            <li><img src="assets/images/check-square.png">99% conversion accuracy - guaranteed
            </li>
            <li><img src="assets/images/check-square.png">4.9 out of 5 stars on Shopify's app
                store</li>
            <li><img src="assets/images/check-square.png">24 hour, 6 days a week customer
                support</li>
        </ul>
        <div class="stacked-mobile">
            <div class="vc_col-sm-6">
                <div class="vc_column-inner ">
                    <button class="kirzin" routerLink="/pricing">{{ 'view_pricing_button' | translate
                        }}</button>
                </div>
            </div>
            <div class="vc_col-sm-6">
                <div class="vc_column-inner ">
                    <div class="vc_btn3-container  btn btn-blank violet vc_btn3-inline">
                        <a routerLink="/pricing" title="Plans">{{
                            'watch_or_book_button' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-vc-full-width="true" data-vc-full-width-init="true"
        class="vc_row section--stats vc_custom_1620213673571 padding">
        <div class="vc_col-lg-5">
            <div #conversionAccuracyElement>
                <div class="wpb_content_element">
                    <span class="stat-callout">{{conversionAccuracy}}%<span>
                        </span></span>
                </div>
                <h2 style="font-size: 38px;line-height: 48px;text-align: center" data-aos="fade-left">
                    {{ 'conversion_accuracy' | translate }}</h2>
                <p style="text-align: center;">
                    {{ 'conversion_accuracy_desc' | translate }}
                </p>
            </div>
        </div>
        <div class="vc_col-lg-5">
            <div #moneyBackDaysElement>
                <div class="wpb_content_element">
                    <span class="stat-callout">{{moneyBackDays}} <span>DAY</span><span>
                        </span></span>
                </div>
                <h2 style="font-size: 38px;line-height: 48px;text-align: center" data-aos="fade-right">
                    {{ 'money_back' | translate }}</h2>
                <p style="text-align: center;">{{ 'money_back_desc' | translate }}</p>

            </div>
        </div>
    </div>

    <div class="section section--get-started vc_custom_1621249512603 padding">
        <h2 class="ready">{{ 'ready_to_get_started' | translate }}</h2>
        <div class="wpb_wrapper">
            <p style="text-align: center;">{{ 'ready_to_get_started_desc' | translate }}</p>
        </div>
        <div class="stacked-mobile">
            <div class="wpb_wrapper vc_column-inner">
                <button class="kirzin" onclick="window.location.href='https://app.tracksales.io/sign-in'">{{
                    'nav.sign_up' | translate }}</button>
            </div>
            <div class="wpb_wrapper vc_column-inner">
                <div class="vc_btn3-container btn btn-blank violet">
                    <a routerLink="/pricing" title="Plans">{{
                        'view_plans' | translate
                        }}</a>
                </div>
            </div>
        </div>
    </div>
</div>