@import "../../../styles.scss";

.main_container {
  font-size: 20px;
}

.page-padding {
  padding: 4% 10% 5% 10%;
}

.cursor {
  display: inline-block;
  width: 1px;
  background-color: black; /* ou la couleur de votre choix */
  margin-left: 2px; /* ajustez selon vos besoins */
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.wpb_text_column {
  margin-top: 15px;
  margin-bottom: 35px;
}

h1 {
  font-size: 46px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .wpb_wrapper2 {
    margin-right: 2%;
    width: 76%;
    padding-top: 4%;
  }

  .vc_row {
    display: flex;
  }

  #client_needs_container {
    align-items: center;
  }

  ul.checklist {
    box-shadow: 3.31228px 3.31228px 33.1228px rgba(197, 197, 197, 0.1);
    border-radius: 6.62456px;
    list-style-type: none;
    padding: 32px 24px;
    width: 500px;
    max-width: 520px;
  }

  .allarounddata__rows {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .allarounddata__row:first-child {
    margin-top: 64px;
  }

  .allarounddata__row {
    width: 100%;
    display: flex;
    margin: 78px 0 0;
    align-items: center;
  }

  .allarounddata__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 78px;
  }

  #client_needs_container .relative h2 {
    left: 80px;
  }

  .full-width-checklist .stacked-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .section--get-started .stacked-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
  }

  .steps-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .integration {
    font-size: 38px;
    color: #212b36;
    line-height: 48px;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .padding {
    padding: 10vh 10vh 10vh 10vh;
  }

  .none {
    display: none;
  }
  .main_container {
    font-size: 16px;
  }
  .first-title {
    margin-top: 20%;
    margin-bottom: 10%;

    font-size: 36px;
    font-weight: 600;
  }
  .meta-sub-title {
    font-size: 30px !important;
    font-weight: 500;
  }

  #client_needs_container .relative h2 {
    font-size: 30px !important;
    max-width: 100% !important;
    margin-top: 14% !important;
    margin-bottom: 10% !important;
    text-align: center !important;
    position: relative !important;
  }

  .page-padding,
  #client_needs_container {
    padding-top: 2em;
  }

  .integration {
    font-size: 30px;
    color: #212b36;
    line-height: 40px;
    text-align: center;
  }

  .hero.hero-clean {
    text-align: center;
    padding-bottom: 100px;
  }

  .vc_column-inner {
    width: 100%;
    text-align: center;
  }

  .allarounddata__row img {
    padding-right: 40px;
  }

  ul.checklist {
    margin-top: 10%;
    box-shadow: 3.31228px 3.31228px 33.1228px rgba(33, 43, 54, 0.1);
    border-radius: 6.62456px;
    list-style-type: none;
    padding: 32px 30px;
    margin-left: 40px;
    width: 80%;
  }

  .allarounddata__row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .allarounddata__column {
    margin: 24px 0;
    padding-right: 0;
  }

  .allarounddata-widget > .container {
    margin-top: 25%;
  }

  .ready {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
}

.meta-title {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 30px;
  color: #929eaa;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.meta-sub-title {
  font-size: 38px;
  text-align: center;
  margin-bottom: 5%;
}

.subheading {
  font-size: 18px;
  line-height: 28px;
  max-width: 640px;
  text-align: center;
  margin: 0 auto;
}

#client_needs_container .relative h2 {
  font-size: 38px;
  max-width: 70%;
  margin-bottom: 10%;
  position: relative;
}

ul.checklist.tilted {
  transform: rotate(2deg);
}

ul.checklist li {
  display: flex;
  align-items: center;
  margin: 0px 0 12px;
  line-height: 1.2 !important;
}

ul.checklist li img {
  margin-right: 6px;
  margin-bottom: 0 !important;
}

@media (min-width: 1200px) {
  .padding {
    padding: 16vh 40vh 16vh 40vh;
  }
  .container {
    width: 1170px;
  }

  ul.checklist {
    margin-left: 20%;
  }

  .vc_col-lg-5 {
    width: 50%;
    padding: 4% 6%;
  }

  #client_needs_container {
    display: flex;
    // padding: 4% 10% 5% 10%;
    padding: 16vh 40vh 16vh 40vh;
  }
}

.allarounddata-widget span {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #929eaa;
  font-weight: 600;
  margin: 0 auto 16px;
  display: block;
}

.allarounddata-widget h2 {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 24px;
  font-size: 38px;
}

.allarounddata-widget .subheading {
  font-size: 18px;
  line-height: 28px;
  max-width: 640px;
  text-align: center;
  margin: 0 auto;
}

.allarounddata__row:first-child {
  margin-top: 64px;
}

.allarounddata__row img {
  max-width: 320px;
  width: 100%;
  margin-bottom: 0 !important;
}

.allarounddata_row_2 {
  flex-direction: row-reverse;
  justify-content: space-between;
}

//Do More with 50+ Integrations With Elevar
.hero.hero-clean {
  background-image: none !important;
  padding-top: 100px;
}

@media (min-width: 768px) {
  .vc_col-sm-5 {
    width: 41.66666667%;
    padding-top: 4rem;
  }

  .vc_column-inner {
    width: 100%;
  }
}

.stat-callout {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.wpb_button,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li {
  margin-bottom: 35px;
}

.wpb_wrapper p {
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 30px;
}

.hero.hero-clean.section .vc_btn3-container.btn.btn-default a {
  background: #eecc6f;

  &:hover {
    background: #ae954e;
  }
}

div.vc_btn3-container.btn.btn-default a {
  color: #fff !important;
}

.vc_btn3-container.btn.btn-default.vc_btn3-inline {
  padding: 0;
}

div.vc_btn3-container.btn a {
  height: 56px;
  padding: 0;
  line-height: 56px;
  min-width: 180px;
  padding: 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 16px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .vc_col-sm-7 {
    width: 58.33333333%;
  }

  .ready {
    font-size: 38px;
    line-height: 48px;
    text-align: center;
  }
}

.wpb_single_image img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

.meta-title h5,
.meta-title h6 {
  color: #929eaa;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.wpb_button,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li {
  margin-bottom: 35px;
}

.has-purple-buttons .vc_btn3-container.btn.btn-default a {
  background: #eecc6f;
}

.has-centered-buttons .vc_btn3-container.btn.btn-default {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.full-width-checklist {
  padding-bottom: 65px;
}

.meta-title {
  margin-bottom: 15px;
}

.full-width-checklist .checklist {
  margin: 0 auto !important;
  background-color: transparent;
  box-shadow: none;
}

.section .wpb_wrapper ul li {
  font-size: 16px;
}

.post .blog-txt ul li {
  font-size: 18px;
  line-height: 32px;
  color: #515659;
}

.section .wpb_wrapper ul li {
  font-size: 18px;
  line-height: 32px;
}

.full-width-checklist .checklist li {
  background: rgba(192, 211, 254, 0.15);
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 4px;
}

.full-width-checklist a.vc_btn3 {
  background-color: #eecc6f !important;
}

.section div.vc_btn3-container.btn.btn-blank a {
  padding: 0;
  text-align: left;
}

.full-width-checklist .btn.btn-blank a {
  background: transparent !important;
}

//99%
.vc_custom_1620213673571 {
  padding-top: 65px !important;
  padding-bottom: 40px;
}

.section--stats .stat-callout {
  border-radius: 100px;
  background: #ffffff;
  box-shadow: 3.16px 3.16px 45px rgba(33, 43, 54, 0.08);
  font-weight: bold;
  font-size: 56px;
  text-align: center;
  color: #eecc6f;
  margin: 0 auto;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  flex-direction: column;
}

.section--stats .stat-callout span {
  font-size: 30px;
}

//Ready to Get Started?
.vc_custom_1621249512603 {
  margin: 0 40px;
  border-radius: 20px;
}

.section--get-started {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section--get-started a.vc_btn3 {
  background-color: #eecc6f !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  div.vc_btn3-container.btn a {
    line-height: 53px;
  }
}

.section div.vc_btn3-container.btn.btn-blank.violet a {
  color: #eecc6f !important;
}

.section--get-started .btn.btn-blank a {
  background: transparent !important;
}

a {
  text-decoration: none;
  color: #eecc6f;
}

//How can I start?
.steps-wrapper {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  align-items: start;
  margin-top: 5rem;
  display: grid;
}

.steps-block {
  grid-column-gap: 16px;
  -webkit-backdrop-filter: blur(0.625rem);
  backdrop-filter: blur(0.625rem);
  border-radius: 0.875rem;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 36px 24px 0;
  display: flex;
  position: relative;
}

.steps-number {
  z-index: 10;
  width: 35px;
  height: 38px;
  min-width: 35px;
  color: #fff;
  text-align: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 800;
  display: flex;
  background-color: #eecc6f;
  border-radius: 50%;
}

.button-text.aos-init.aos-animate {
  color: white;
}

a.button-link {
  display: contents;
}

.steps-text {
  grid-row-gap: 0.625rem;
  border-radius: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  display: flex;
}

.text-bold {
  font-weight: 700;
}

.text-l {
  font-size: 1.125rem;
}

.text-s {
  font-size: 0.975rem;
}

.steps-button {
  background-image: linear-gradient(to right, #eaeaea, rgba(234, 234, 234, 0));
  border-radius: 0.25rem;
  padding: 1px;
  transition: box-shadow 0.3s;
}

.steps-button-wrapper {
  grid-column-gap: 0.3125rem;
  color: #fff;
  background-color: #444a5c;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.625rem;
  font-size: 0.9375rem;
  font-weight: 500;
  transition: background-color 0.2s;
  display: flex;
}

.steps-button-wrapper:hover {
  background-color: #5c5c5c;
}

.clients .image-container {
  position: relative;
  overflow: hidden;
}

.clients .image-container:before,
.clients .image-container:after {
  content: "";
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
}

.clients .image-container:before {
  left: 0;
  transform: scaleX(-1);
  z-index: 9;
}

.clients .image-container:after {
  right: 0;
  transform: scaleX(1);
  z-index: 9;
}

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.image-list {
  display: inline-block;
  animation: slide 20s linear infinite;
}

.image-container img {
  width: 150px;
  height: auto;
  margin-right: 100px;
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.image-container img:hover {
  filter: none;
  transform: scale(1.1);
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}
